* {
  margin: 0;
}

.menu_bar {
border-bottom: 2px solid black;
width: 100%;
height: 50px;
display: flex;
justify-content: center;

}

.menu_contenedor {
  display: flex;
  
}

.menu_links {
  display: flex

}

.menu_links li {
  margin: 10px;
  list-style: none;
}
.menu_links li:hover {
  color: #ccc;
}

.listado_contenedor{
  display: flex;
  justify-content: center;
}

.lista {
  width: 50%;
  display: flex;
  margin: 15px;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  
}

.mostrar-libro-no{
  display: none;
}
.mostrar-libros-si{
  display: block;
}
